<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TwentyOne</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body class="index">
        <div><h1>Welcome to TwentyOne</h1></div>
        <div><button onclick="window.location.href='/create-room'">Create room</button></div>
        <div><button onclick="window.location.href='/join-room'">Join room</button></div>
        <div><button onclick="window.location.href='interface'">Interface</button></div>
    </body>
</html>
