<!doctype html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Twenty-one</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/script.js"></script>
    </head>
    <body>
        <div class="title">
            <img src="/static/assets/logo.png" alt="TWENTYONE">
        </div>
        <div class="container">
            <form method="POST" action="/game">
                <div class="buttonRow">
                    <input type="text" id="player1" placeholder="Enter player 1 name">
                    <label class="switch">
                        <input type="checkbox" id="switch1" value="1" checked>
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="buttonRow">
                    <input type="text" id="player2" placeholder="Enter player 2 name">
                    <label class="switch">
                        <input type="checkbox" id="switch2" value="-1">
                        <span class="slider"></span>
                    </label>
                </div>
                <input type="submit" value="Start Game">
            </form>
        </div>
    </body>
</html>

<script>
const switch1 = document.getElementById("switch1");
const switch2 = document.getElementById("switch2");

switch1.addEventListener("change", () => {
  if (switch1.checked) switch2.checked = false;
  if (!switch1.checked) switch2.checked = true;
});

switch2.addEventListener("change", () => {
  if (switch2.checked) switch1.checked = false;
  if (!switch2.checked) switch1.checked = true;
});
</script>
